<h1>Here are some <%= media.first.medium.medium_type.pluralize %>!</h1> 
<ul id='media-list' style='columns: 4'></ul>
<%= render '/media/prompt_new', medium_name: media.first.class.name, new_path: new_path %>

<script type='text/javascript' charset='utf-8'>
  url = new URL(this.document.URL);
  DataHandler.prototype.renderData(`${url.pathname}/collection`, 'index');  
</script>